body {
    background-image: url(../images/moln.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
}

h1{
    color: #eeaeca;
    font-size: 40px;
    font-weight: 300;
    font-style: inherit;
    text-align: center;
    background-color: #94bbe9;
}

/*this is a test*/

.header-text {
    color: #9900ff;
    text-align: center;
    background-color: rgb(182, 196, 126, 0.8);
}

div {
    background-color: rgb(153, 0, 255, 0.8);
    width: 500px;
    padding: 10px;
    margin: 20px;
    border: 5px solid rgb(54, 0, 30, 0.8);
    border-radius: 8px;
  }

img {
    border-width: 7px;
    border-style: solid;
    border-color: #B497DB;
    border-radius: 8px;
}

.picture-info {
    color: #2b006b;
    background-color: rgb(180, 151, 219, 0.8);
}

#cv {
    color: #6f00ff;
    font-style: normal;
    background-color: rgb(182, 196, 126, 0.8);
}

h4 {
    color: #6F6B44;
}