body {
    background-image: url(../images/moln.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
}

h1{
    color: #eeaeca;
    font-size: 40px;
    font-weight: 300;
    font-style: inherit;
    text-align: center;
    background-color: #94bbe9;
}

/*this is a test*/

.header-text {
    color: #9900ff;
    text-align: center;
    background-color: rgb(182, 196, 126, 0.8);
    width: 500px;
    padding: 10px;
    margin: 20px;
    border: 10px outset rgba(99, 224, 210, 0.6);
}

div {
    background-color: rgb(153, 0, 255, 0.8);
    width: 500px;
    padding: 10px;
    margin: 20px;
    border: 10px inset rgba(151, 0, 83, 0.6);
  }

img {
    border-width: 10px;
    border-style: outset;
    border-color: rgba(151, 0, 83, 0.6);
    margin: 20px;
}

#cv {
    color: #6f00ff;
    font-style: normal;
    background-color: rgb(182, 196, 126, 0.8);
    width: 500px;
    padding: 5px;
    margin: 20px;
    border: 10px inset rgba(99, 224, 210, 0.6);
}

h4 {
    color: #6F6B44;
}